html {
  font-size: 14px;
  font-family: "Amazon Ember";
}

body {
  height: 100%;
  font-family: Nanum Gothic;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.first-container {
  position: relative;
  width: 75rem;
  height: 20rem;
  border: 1px solid #000000;
}

.second-container {
  position: relative;
  width: 75rem;
  height: 60rem;
  border: 1px solid #000000;
}
