.user-bubble-container {
  position: absolute;
  width: 13rem;
  height: 20rem;
  top: 3rem;
  right: -0.2rem;
  color: #000;
}

.bubble-container {
  z-index: 101;
  position: relative;
  width: 13rem;
  height: 20rem;
}

.bubble {
  z-index: 6;
  width: 100%;
  height: 15rem;
  margin: 1.5rem 0;
  padding: 1rem 0;
  background: #ffffff;
  border-radius: 1px;
  border: #dbdbdb solid 1px;
  position: absolute;
  font-size: 16px;
  text-align: left;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.bubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 0.7rem 1rem 0.7rem;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 5;
  top: -0.9rem;
  right: 1rem;
}

.bubble:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 0.7rem 1rem 0.7rem;
  border-color: #dbdbdb transparent;
  display: block;
  width: 0;
  z-index: 5;
  top: -1rem;
  right: 1rem;
}

.bubble .bubble-list {
  position: relative;
  display: flex;
  width: 13rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  align-items: center;
}

.bubble .bubble-list:hover {
  background: #f1f3f5;
  cursor: pointer;
}

.bubble .bubble-list span {
  position: absolute;
  top: 0.5rem;
  left: 0;
  text-align: left;
  font-size: 1.2rem;
  padding-left: 2rem;
}
