.lower-carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  height: 15rem;
  background: #fff;
}

.lower-carousel-left-button-area,
.lower-carousel-right-button-area {
  position: absolute;
  height: 15rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower-carousel-left-button-area {
  left: 0;
}

.lower-carousel-right-button-area {
  right: 0;
}

.lower-carousel-button {
  width: 3.7rem;
  height: 3.7rem;
  outline: none;
  border: none;
  padding: 0;
  background: url("../../images/arrow2.png") no-repeat 50% 50%;
  background-size: 3.7rem 3.7rem;
  cursor: pointer;
}

.lower-carousel-button:active {
  opacity: 0.5;
}

#lower-carousel-left-button {
  transform: rotate(180deg);
}

.lower-carousel-center {
  position: absolute;
  left: 5rem;
  width: 20rem;
  height: 15rem;
  z-index: 3;
}

.img-container {
  position: absolute;
  overflow: hidden;
  width: 20rem;
  height: 15rem;
  background: #fff;
  z-index: 3;
}

#lower-carousel-image-deque {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: -20rem;
  width: 100rem;
  height: 15rem;
  padding-inline-start: 0;
  transition: transform 0.2s;
}

.lower-carousel-center::before,
.lower-carousel-center::after {
  position: absolute;
  top: 3rem;
  width: 1rem;
  height: 7rem;
  content: "";
  box-shadow: 0 -15px 25px 7px #222;
  z-index: -1;
}

.lower-carousel-center::before {
  left: 10px;
  transform: rotate(-8deg);
}

.lower-carousel-center::after {
  right: 10px;
  transform: rotate(8deg);
}

.lower-carousel-image {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  width: 74.8rem;
  height: 28.5rem;
}
