.main-carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60rem;
}

.main-carousel-first-container {
  position: absolute;
  top: 0;
  margin-top: 1rem;
  width: 100%;
  height: 18.7rem;
}

.main-carousel-second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 18.7rem;
  margin-top: 3rem;
  width: 74.8rem;
  height: 28.5rem;
}
