.card-carousel-container {
  position: relative;
  width: 10.5rem;
  height: 15rem;
  background-size: 10.5rem 15rem;
}

.card-selected {
  z-index: 4;
  transform: scale(1.2);
}

.card-name-container {
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10rem;
  width: 100%;
  height: 5rem;
  font-size: 20px;
  color: #ffffff;
}

.card-circle-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13.5rem;
  width: 100%;
  height: 1.5rem;
  visibility: hidden;
}

.card-circle-button {
  z-index: 4;
  padding: 0;
  width: 1rem;
  height: 1rem;
  border: none;
  outline: none;
  background: url("../../images/circle.png") no-repeat 50% 50%;
  background-size: 0.6rem 0.6rem;
  opacity: 0.5;
}

.card-button-selected {
  opacity: 1;
}

.card-gradient-background {
  position: absolute;
  width: 10.5rem;
  height: 15rem;
}
