footer a:visited,
footer a:hover,
footer a:link {
  color: #9b9b9b;
}

footer {
  z-index: 1;
  position: absolute;
  top: 135rem;
  width: 100%;
  height: 15rem;
  background: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #9b9b9b;
}

footer img {
  position: relative;
  margin: 1rem;
  top: 0.3rem;
}

.footer-title-area {
  position: relative;
  top: -1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  width: 95%;
  border-bottom: 1px solid #6a6a6a;
}

.footer-title-area p {
  margin: 1rem 0;
}

.footer-dev-info-area {
  width: 90%;
}

.footer-dev-info-area p {
  margin: 0.2rem;
}

.footer-rights-area {
  margin-top: 1.5rem;
}
