.upper-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.upper-carousel-card-1,
.upper-carousel-card-2,
.upper-carousel-card-3,
.upper-carousel-card-4,
.upper-carousel-card-5 {
  position: relative;
  width: 10.5rem;
  height: 15rem;
  background: #000;
  margin-left: 0.5rem;
  background-size: 85rem 50rem;
}
